# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Logs (except sample data)
*.log
/data
!/data
!data/sample_tx.json

# OS files
.DS_Store

# IDE settings
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/
